{{!--<h2>{{@title}}</h2>--}}
<label for="uersinput">enter the text</label>

<input type="text" name="userinput" id="userinput" value="">

<button type="button" {{on 'click' (fn this.showPerson @people)}}>submit</button>
{{!--{{this.nameArray}}--}}

{{#each this.nameArray as |person|}}
  <li>{{person.name}}</li>
  {{/each}}
<p id="name1"></p>

    
  
